*{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
}

#container{
  max-width: 1200;
  padding: 24px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0 auto;
  height: 100vh;
}

p{
  max-width: 600px;
}

header{
  display: flex;
  align-items: center;
}

header p{
  font-family: 'Inconsolata';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 25px;
letter-spacing: -0.08em;
text-transform: uppercase;

color: #333333;

}

main{
  display: flex;
  align-items: center;
}

.main--content{
  flex: 1;
  margin-left: 50px;
}

.headline{
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: -0.035em;
  color: #333333;
}

.description{
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;
  color: #4F4F4F;
  width: 381px;
}

.home-button{
  width: 216px;
  height: 68px;
  left: 740px;
  top: 663px;
  background: #333333;
  border-radius: 10px 0 10px 0;
  margin-top: 50px;
}

.home-button:hover{
  background: rgb(40, 155, 40);
  transition: 1s;
}

.home-button p{
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: #FFFFFF
}

.main--img{
  flex: 1;
}

.main--img img{
  width: 90%;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 122px;
}

footer p{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #BDBDBD;
}

@media only screen and (max-width: 965px){
  main{
    display: block;
  }

  .main--content{
    margin-right: 35px;
  }
}